* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.desktop-nav { display: flex !important; }
.hamburger { display: none !important; }

@media (max-width: 640px) {
  .desktop-nav { display: none !important; }
  .hamburger { display: flex !important; }
}